.background{
    background-image: url('images/skatter-programmer.gif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: inherit;
}
